{% extends "base.html" %}

{% load static %}

{% block title %}Trip Details{% endblock %}

{% block content %}
<section class="content-header">
	<h1>
		Trip Details
	</h1>
	<ol class="breadcrumb">
		<li><a class="no-ajaxy" href="/"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="/trips/">Trips</a></li>
        <li class="active">Details</li>
	</ol>
</section>
<section class="content">
	<div class="row">
		<div class="col-md-3">
			<div class="box box-primary">
				<div class="box-body box-profile">
					<img style="width: 100%;" class="profile-user-img img-responsive img-rounded" src="{% static 'img/paris.jpg' %}" alt="">
					<h3 class="profile-username text-center">Eiffel Tower</h3>
					<p class="text-muted text-center">Paris</p>
					<ul class="list-group list-group-unbordered">
						<li class="list-group-item">
							<b>Followers</b> <a class="pull-right">1,322</a>
						</li>
					</ul>
					<a href="#" class="btn btn-primary btn-block"><b>Follow</b></a>
				</div>
			</div>
			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title">Address Details</h3>
				</div>
				<div class="box-body">
					<strong><i class="fa fa-book margin-r-5"></i> Name</strong>
					<p class="text-muted">
						Eiffel Tower
					</p>
					<hr>
					<strong><i class="fa fa-map-marker margin-r-5"></i> Latitude</strong>
					<p class="text-muted">48.8583698</p>
					<hr>
					<strong><i class="fa fa-map-marker margin-r-5"></i> Longitude</strong>
					<p class="text-muted">2.2944833000000244</p>
					<hr>
					<strong><i class="fa fa-pencil margin-r-5"></i> Country</strong>
					<p>
						<span class="label label-warning">France</span>
					</p>
					<hr>
					<strong><i class="fa fa-file-text-o margin-r-5"></i> Locality</strong>
					<p class="text-muted">Paris</p>
				</div>
			</div>
		</div>
		<div class="col-md-9">
			<div class="nav-tabs-custom">
				<ul class="nav nav-tabs">
					<li class="active"><a href="#timeline" data-toggle="tab">Timeline</a></li>
					<li><a href="#map" data-toggle="tab">Map</a></li>
					<li><a href="#fb-comment" data-toggle="tab">Discussions</a></li>
					<li><a href="#insert-destination" data-toggle="tab">Insert Destination</a></li>
				</ul>
				<div class="tab-content">
					<div class="active tab-pane" id="timeline">
						<ul class="timeline timeline-inverse">
							<li class="time-label">
								<span class="bg-red">
									10 Feb. 2017
								</span>
							</li>
							<li>
								<i class="fa fa-flag bg-blue"></i>
								<div class="timeline-item">
									<span class="time"><i class="fa fa-clock-o"></i> 10:00</span>
									<h3 class="timeline-header"><a href="#">Highfield Interchange</a> Southampton, UK</h3>
									<div class="timeline-body">
										<strong><i class="fa fa-group margin-r-5"></i> Meeting Point</strong>
										<p>Highfield Interchange Unilink Bus Station</p>
									</div>
									<div class="timeline-footer">
										<a class="btn btn-primary btn-xs">Insert Destination</a>
										<a class="btn btn-danger btn-xs">Delete</a>
									</div>
								</div>
							</li>
							<li>
								<i class="fa fa-map-pin bg-aqua"></i>
								<div class="timeline-item">
									<span class="time"><i class="fa fa-clock-o"></i> 12:30</span>
									<h3 class="timeline-header"><a href="#">London Eye</a> London, UK</h3>
									<div class="timeline-body">
										<strong><i class="fa fa-group margin-r-5"></i> Meeting Point</strong>
										<p>Westminster Bridge</p>
									</div>
									<div class="timeline-footer">
										<a class="btn btn-primary btn-xs">Insert Destination</a>
										<a class="btn btn-danger btn-xs">Delete</a>
									</div>
								</div>
							</li>
							<li>
								<i class="fa fa-map-pin bg-yellow"></i>
								<div class="timeline-item">
									<span class="time"><i class="fa fa-clock-o"></i> 13:45</span>
									<h3 class="timeline-header"><a href="#">Buckingham Palace</a> London, UK</h3>
									<div class="timeline-body">
										<strong><i class="fa fa-group margin-r-5"></i> Meeting Point</strong>
										<p>Victoria Memorial Monument</p>
									</div>
									<div class="timeline-footer">
										<a class="btn btn-primary btn-xs">Insert Destination</a>
										<a class="btn btn-danger btn-xs">Delete</a>
									</div>
								</div>
							</li>
							<li class="time-label">
								<span class="bg-green">
									13 Feb. 2017
								</span>
							</li>
							<li>
								<i class="fa fa-flag-checkered bg-purple"></i>
								<div class="timeline-item">
									<span class="time"><i class="fa fa-clock-o"></i> 12:05</span>
									<h3 class="timeline-header"><a href="#">Eiffel Tower</a> Paris, France</h3>
									<div class="timeline-body">
										<p>Dismissed at final destination.</p>
									</div>
									<div class="timeline-footer">
										<a class="btn btn-primary btn-xs">Insert Destination</a>
										<a class="btn btn-danger btn-xs">Delete</a>
									</div>
								</div>
							</li>
							<li>
								<i class="fa fa-clock-o bg-gray"></i>
							</li>
						</ul>
					</div>
					<div class="tab-pane" id="map">
						<div id="controls"></div>
						<div id="gmap" style="with: 100%;height: 600px;"></div>
						
					</div>
					<div class="tab-pane" id="fb-comment">
						<div class="fb-comments" data-order-by="reverse_time" data-width="100%"></div>
					</div>
					<div class="tab-pane" id="insert-destination">
						<form>
							<div class="box-body">
								<div class="form-group">
									<label for="parent-destination">Insert After</label>
									<select class="form-control" name="parent-destination" id="parent-destination">
										<option>Highfield Interchange</option>
										<option>London Eye</option>
										<option>Buckingham Palace</option>
										<option>Eiffel Tower</option>
									</select>
								</div>
								<div class="form-group">
									<label for="new-destination-input">Destination Location</label>
									<input type="text" class="form-control" id="new-destination-input" placeholder="Enter a new destination location" required>
								</div>
								<div class="form-group">
									<label for="start_date">Start Date</label>
									<div class="input-group" id="datetimepicker_start_date2">
										<input type="text" class="form-control" id="start_date" placeholder="Pick start date & time" required>
										<span class="input-group-addon">
											<i class="fa fa-calendar"></i>
										</span>
									</div>
								</div>
								<div class="form-group">
									<label for="photo_url">Photo URL <code>optional</code></label>
									<div class="input-group">
										<input type="url" class="form-control" id="photo_url" placeholder="Enter image URL">
										<span class="input-group-addon">
											<i class="fa fa-camera"></i>
										</span>
									</div>
									<p class="help-block">Preferably *.jpg, *.png with dimension 1024x768 px</p>
								</div>
								<div class="form-group">
									<label for="meeting_point">Meeting Point <code>optional</code></label>
									<div class="input-group">
										<input type="text" class="form-control" id="meeting_point" placeholder="Enter a meeting point location">
										<span class="input-group-addon">
											<i class="fa fa-group"></i>
										</span>
									</div>
								</div>
							</div>
							<div class="box-footer">
								<button type="submit" class="btn btn-primary">Save</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}

{% block custom_script %}
<script>
	$(function () {
		var datetimepicker_options = {
			format: "DD/MM/YYYY HH:mm",
			showTodayButton: true,
			showClear: true,
			showClose: true,
			allowInputToggle: true,
			keepOpen: false,
			widgetPositioning: {
				horizontal: "left"
			}
		};
		$("#datetimepicker_start_date").datetimepicker(datetimepicker_options);
		$("#datetimepicker_start_date2").datetimepicker(datetimepicker_options);
		$("#datetimepicker_finish_date").datetimepicker(datetimepicker_options);
		
		$("#new-origin-input").geocomplete({});
		$("#new-destination-input").geocomplete()
		.bind("geocode:result", function(event, result){
			<!-- alert(result.formatted_address); -->
		})
		.bind("geocode:geocode:error", function(event, result){
			<!-- alert(result); -->
		});
		
		var LocsAv2 = [
		{
			lat: 45.9,
			lon: 10.9,
			title: 'Zone A1',
			html: '<h3>Content A1</h3>',
			type : 'circle',
			circle_options: {
				radius: 200000
			},
			draggable: true
		},
		{
			lat: 44.8,
			lon: 1.7,
			title: 'Draggable',
			html: '<h3>Content B1</h3>',
			show_infowindow: false,
			visible: true,
			draggable: true
		},
		{
			lat: 51.5,
			lon: -1.1,
			title: 'Title C1',
			html: [
            '<h3>Content C1</h3>',
            '<p>Lorem Ipsum..</p>'
			].join(''),
			zoom: 8,
			visible: true
		}
		];
		new Maplace({
			locations: LocsAv2,
			map_div: '#gmap',
			controls_div: '#controls',
			controls_type: 'list',
			controls_on_map: false,
			view_all_text: 'Start',
			type: 'polyline'
		}).Load();
	});
</script>
{% endblock %}