{% extends "base.html" %}

{% load static %}

{% block title %}Trip Details{% endblock %}

{% block content %}
<section class="content-header">
	<h1>
		Trip Details
	</h1>
	<ol class="breadcrumb">
		<li><a class="no-ajaxy" href="/"><i class="fa fa-home"></i> Home</a></li>
		<li><a href="/trips/">Trips</a></li>
		<li class="active">Details</li>
	</ol>
</section>
<section class="content">
	<div class="row">
		<div class="col-md-3" id="location-details">
			<div class="box box-primary">
				<div class="box-body box-profile">
					{% if destination_location.photo_url %}
					<img style="width: 100%;" class="profile-user-img img-responsive img-rounded"
						 src="{{ destination_location.photo_url }}" alt="">
					{% else %}
					<img style="width: 100%;" class="profile-user-img img-responsive img-rounded"
						 src="{% static 'img/no-image-available.jpg' %}" alt="">
					{% endif %}
					<h3 class="profile-username text-center">{{ destination_location.name }}</h3>
					<ul class="list-group list-group-unbordered">
						<li class="list-group-item">
							<b>Followers</b> <a class="pull-right">{{ num_followers }}</a>
						</li>
					</ul>
					{% if is_creator %}
					<button data-trip="{{ trip_id }}"
							class="btn btn-primary btn-block disabled">You created this trip
					</button>
					{% elif has_joined %}
					<button data-trip="{{ trip_id }}"
							class="btn btn-primary btn-block disabled">You've joined this trip
					</button>
					{% else %}
					<button data-trip="{{ trip_id }}" class="btn btn-warning btn-block join-trip" title="Join"><i
							class="fa fa-heart"></i><b> Join</b></button>
					{% endif %}
				</div>
			</div>
			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title">Address Details</h3>
				</div>
				<div class="box-body">
					<strong><i class="fa fa-building-o margin-r-5"></i> Name</strong>
					<p class="text-muted">{{ destination_location.name }}</p>
					<hr>
					<strong><i class="fa fa-map-marker margin-r-5"></i> Latitude</strong>
					<p class="text-muted">{{ destination_location.lat }}</p>
					<hr>
					<strong><i class="fa fa-map-marker margin-r-5"></i> Longitude</strong>
					<p class="text-muted">{{ destination_location.long }}</p>
					<hr>
					<strong><i class="fa fa-globe margin-r-5"></i> State</strong>
					<p class="text-muted">{{ destination_location.state }}</p>
					<hr>
					<strong><i class="fa fa-flag-o margin-r-5"></i> Country</strong>
					<p class="text-muted">{{ destination_location.country }}</p>
				</div>
			</div>
		</div>
		<div class="col-md-9">
			<div class="nav-tabs-custom">
				<ul class="nav nav-tabs">
					<li class="active"><a href="#timeline" data-toggle="tab">Timeline</a></li>
					<!--<li><a href="#map" data-toggle="tab">Map</a></li>-->
					<li><a href="#fb-comment" data-toggle="tab">Discussions</a></li>
					<li><a href="#insert-destination" data-toggle="tab">Insert Destination</a></li>
				</ul>
				<div class="tab-content">
					<div class="active tab-pane" id="timeline">
						<ul class="timeline timeline-inverse">
							{% for location in locations_route %}
							<li class="time-label">
								<span class="bg-red">{{location.start_date|date:"d M Y"}}</span>
							</li>
							<li>
								{% if location.id == origin %}
								<i class="fa fa-flag bg-blue"></i>
								{% elif location.id == destination %}
								<i class="fa fa-flag-checkered bg-purple"></i>
								{% else %}
								<i class="fa fa-map-pin bg-yellow"></i>
								{% endif %}
								<div class="timeline-item">
									<span class="time"><i class="fa fa-clock-o"></i>{{ location.start_date|date:" H:i" }}</span>
									<h3 class="timeline-header"><a data-location="{{ location.id }}"
									   class="scrollto location-detail" href="#location-details">{{ location.name }}</a></h3>
									<div class="timeline-body">
										<strong><i class="fa fa-group margin-r-5"></i> Meeting Point</strong>
										<p>{% if location.meeting_point %}{{ location.meeting_point }}{% else %}-{% endif %}</p>
									</div>
									<div class="timeline-footer">
										<a class="btn btn-primary btn-xs">Insert New Destination</a>
										<!--<a class="btn btn-danger btn-xs">Delete</a>-->
									</div>
								</div>
							</li>
							{% endfor %}
							<li>
								<i class="fa fa-clock-o bg-gray"></i>
							</li>
						</ul>
					</div>
					<div class="tab-pane" id="map">
						<div id="controls"></div>
						<div id="gmap" style="with: 100%;height: 600px;"></div>
					</div>
					<div class="tab-pane" id="fb-comment">
						<div class="fb-comments" data-order-by="reverse_time" data-width="100%"></div>
					</div>
					<div class="tab-pane" id="insert-destination">
						<form>
							<div class="box-body">
								<div class="form-group">
									<label for="parent-destination">Insert After</label>
									<select class="form-control" name="parent-destination" id="parent-destination">
										<option>Highfield Interchange</option>
										<option>London Eye</option>
										<option>Buckingham Palace</option>
										<option>Eiffel Tower</option>
									</select>
								</div>
								<div class="form-group">
									<label for="new-destination-input">Destination Location</label>
									<input type="text" class="form-control" id="new-destination-input"
										   placeholder="Enter a new destination location" required>
								</div>
								<div class="form-group">
									<label for="start_date">Start Date</label>
									<div class="input-group" id="datetimepicker_start_date2">
										<input type="text" class="form-control" id="start_date"
											   placeholder="Pick start date & time" required>
										<span class="input-group-addon">
											<i class="fa fa-calendar"></i>
										</span>
									</div>
								</div>
								<div class="form-group">
									<label for="photo_url">Photo URL <code>optional</code></label>
									<div class="input-group">
										<input type="url" class="form-control" id="photo_url"
											   placeholder="Enter image URL">
										<span class="input-group-addon">
											<i class="fa fa-camera"></i>
										</span>
									</div>
									<p class="help-block">Preferably *.jpg, *.png with dimension 1024x768 px</p>
								</div>
								<div class="form-group">
									<label for="meeting_point">Meeting Point <code>optional</code></label>
									<div class="input-group">
										<input type="text" class="form-control" id="meeting_point"
											   placeholder="Enter a meeting point location">
										<span class="input-group-addon">
											<i class="fa fa-group"></i>
										</span>
									</div>
								</div>
							</div>
							<div class="box-footer">
								<button type="submit" class="btn btn-primary">Save</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<div class="modal modal-info fade" id="modal-join" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span></button>
				<h4 id="myModalLabel" class="modal-title">Join Trip</h4>
			</div>
			<div class="modal-body">
				<p class="join-message"></p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-outline pull-right" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block custom_script %}
<script>
	$(function () {
		var datetimepicker_options = {
			format: "DD/MM/YYYY HH:mm",
			showTodayButton: true,
			showClear: true,
			showClose: true,
			allowInputToggle: true,
			keepOpen: false,
			widgetPositioning: {
				horizontal: "left"
			}
		};
		$("#datetimepicker_start_date").datetimepicker(datetimepicker_options);
		$("#datetimepicker_start_date2").datetimepicker(datetimepicker_options);
		$("#datetimepicker_finish_date").datetimepicker(datetimepicker_options);
		
		$("#new-origin-input").geocomplete({});
		$("#new-destination-input").geocomplete()
		.bind("geocode:result", function(event, result){
			<!-- alert(result.formatted_address); -->
		})
		.bind("geocode:geocode:error", function(event, result){
			<!-- alert(result); -->
		});
		
		var LocsAv2 = [
		{
			lat: 45.9,
			lon: 10.9,
			title: 'Zone A1',
			html: '<h3>Content A1</h3>',
			type : 'circle',
			circle_options: {
				radius: 200000
			},
			draggable: true
		},
		{
			lat: 44.8,
			lon: 1.7,
			title: 'Draggable',
			html: '<h3>Content B1</h3>',
			show_infowindow: false,
			visible: true,
			draggable: true
		},
		{
			lat: 51.5,
			lon: -1.1,
			title: 'Title C1',
			html: [
            '<h3>Content C1</h3>',
            '<p>Lorem Ipsum..</p>'
			].join(''),
			zoom: 8,
			visible: true
		}
		];
		new Maplace({
			locations: LocsAv2,
			map_div: '#gmap',
			controls_div: '#controls',
			controls_type: 'list',
			controls_on_map: false,
			view_all_text: 'Start',
			type: 'polyline'
		}).Load();

		// handle for Join button
		$("section.content").on("click", ".join-trip", function(e) {
			var this_selector = $(this);
			$.ajax({
				method: 'POST',
				url: '{% url 'trips:join' %}',
				data: {
					id: $(this).data('trip'),
					csrfmiddlewaretoken: '{{ csrf_token }}'
				},
				dataType: 'json',
				success: function (data) {
					if (data.status !== 'ok') {
						$("#modal-join").removeClass('modal-info').addClass('modal-danger');
					}
					$("#modal-join p.join-message").text(data.message);
					this_selector.removeClass('btn-warning join-trip').addClass('btn-primary disabled');
					this_selector.text(data.message);
				},
				error: function (jqXHR, textStatus, errorThrown) {
					$("#modal-join").removeClass('modal-info').addClass('modal-danger');
					$("#modal-join p.join-message").text(textStatus + ': ' + errorThrown);
				},
				complete: function (jqXHR, textStatus) {
					$('#modal-join').modal({backdrop: 'static'});
				}
			});
			e.preventDefault();
		});
	});


</script>
{% endblock %}
