{% extends "base.html" %}

{% load static %}

{% block title %}Trip Plans{% endblock %}

{% block content %}
<section class="content-header">
	<h1>Trip Plans</h1>
	<ol class="breadcrumb">
        <li><a class="no-ajaxy" href="/"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="/trips/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">Trip Plans</li>
	</ol>
</section>
<section class="content">
	<div class="row">
        <div class="col-xs-12">
			<div class="box">
				<div class="box-header">
				</div>
				<div class="box-body table-responsive">
					<table id="trip-list" class="table table-bordered table-striped table-hover">
						<thead>
							<tr>
								<th style="text-align: center;">Origin</th>
								<th style="text-align: center;">Route</th>
								<th style="text-align: center; width: 14%;">Start Date</th>
								<th style="text-align: center; width: 14%;">Finish Date</th>
								<th style="text-align: center; width: 6%;">Action</th>
							</tr>
						</thead>
						<tbody>
							{% for trip in trips %}
							<tr>
								<td>{{ trip.origin_name }}</td>
								<td><i class="fa fa-flag"></i> {% autoescape off %}{{ trip.route }}{% endautoescape %} <i class="fa fa-flag-checkered"></i></td>
								<td>{{ trip.start_date }}</td>
								<td>{{ trip.finish_date }}</td>
								<td style="text-align: center;">
									<div class="btn-group-vertical">
										<a href="/trips/details/{{ trip.id }}" class="btn btn-info" title="Detail"><i class="fa fa-eye"></i></a>
										<a id="btn-join-trip-{{ trip.id }}" data-trip="{{ trip.id }}" class="btn btn-warning btn-join-trip" title="Join"><i class="fa fa-heart"></i></a>
									</div>
								</td>
							</tr>
							{% endfor %}
						</tbody>
						<tfoot>
						</tfoot>
					</table>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}

{% block custom_script %}
<script>
	$(function () {
		$('#trip-list').DataTable({
			'ordering' : false
		});
		
		$(".btn-join-trip").click(function(e) {
			alert($(this).attr('data-trip'));
			
			e.preventDefault();
		});
	})
</script>
{% endblock %}